h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 75px;
  margin-top: 5%;
  margin-left: 20px;
  color: black;
}

p {
  font-size: 10px;
  color: rgb(0, 0, 0);

  margin-top: 20px;
  margin-left: 30px;
}

hr {
  margin-left: 30px;
  border: 1px solid #ddd;
  margin-top: 30px;
}

.gut-info,
.comparison-info,
.higher-diversity-info {
  margin-top: 20px;
}

.gut-info h4 {
  font-size: 24px;
  margin-left: 30px;
  font-weight: 100;
  color: rgb(31, 8, 82); /* Default color for the entire h4 element */
}

.gut-info .green-text {
  color: #00cc00; /* Color for the "VERY GOOD" text */
}

.info-box {
  font-size: small;
  font-family: "PT Sans", sans-serif;
  padding: 20px; /* Padding inside the box */
  margin-left: 30px;
  margin-right: 85%; /* Adjust margin as needed to separate the box from the text */
  margin-top: -30px;
}

.info-box p {
  margin-left: -20px;
  font-family: "PT Sans", sans-serif;
}

.comparison-info p {
  color: rgb(31, 8, 82);
  font-family: "PT Sans", sans-serif;
}

.higher-diversity-info p {
  margin-left: 55%;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: rgb(31, 8, 82);
}
.num-info h1 {
  font-family: "PT Sans", sans-serif;
  margin-left: 90%;
  font-size: 50px;
  font-weight: bold;
}

/* General styles for all images */
img {
  max-width: 50%;
  height: auto;
  display: block;
  border: none;

  margin: 20px auto;
  z-index: -1;
}

/* Styles for the first image inside the .gut-info section */
.first-image {
  max-width: 500px;
  position: absolute;
  top: 0;
  right: 0;
}

/* Styles for the second image inside the .comparison-info section */
.second-image {
  max-width: 400px;
  position: absolute;
  margin-top: -15%;
  margin-left: 50%;
}
