body {
  font-family: "Arial", Helvetica, sans-serif;
  margin: 10px;
  padding: 60px;
  background-color: #ffffff;
}

header {
  font-size: x-large;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

header p {
  margin-top: -50px;
  font-size: x-small;
}

header h1 {
  font-family: "Times New Roman", Times, serif; /* Font style added here */
  font-size: 5rem;
}

header img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  font-family: "Times New Roman", Times, serif; /* Font style added here */
  font-size: 100px;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-family: "Arial", sans-serif; /* Font style added here */
  font-size: 100px;
  text-align: center;
  margin-top: -60px;
}

p {
  font-size: small;
  text-align: center;
  margin-top: -60px;
}

.main-content h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
}

.main-content {
  font-size: larger;
  text-align: center;
}

.table {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #f4f4f4;
}

table {
  margin-right: 20%;
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  text-align: left;
}

td:first-child {
  text-align: right;
}
